.game-img {
  background-image: url("https://media.giphy.com/media/10Qc2DXgafdnsk/giphy.gif");
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}


.simon-atk h1 {
  margin: 0;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1.9;
  color: #fff;
  background-color: green;
  mix-blend-mode: multiply;
  background: radial-gradient(red, yellow, green, blue, purple);
  text-align: center;
}

.btn-display a {
  text-decoration: none;
  color: #dadada;
  font-size: 20px;
}

/*.main-btns {
  display: flex;
  justify-content: flex-start;
}*/

.game-btns {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.blue {
  color: blue;
  background: blue;
}

.red {
  color: red;
  background: red;
}

.green {
  color: green;
  background: green;
}

.yellow {
  color: gold;
  background: gold;
}

.purple {
  color: purple;
  background: purple;
}

.tiles {
  clip: rect(0px, 300px, 150px, 150px);
  width: 296px;
  margin: 4px;
  width: 100px;
  height: 100px;
  list-style: none;
  border-radius: 48px;
}

/*.simon {
    background: #fff;
    position: relative;
    margin-right: 3em;
    width: 302px;
    height: 295px;
    border-radius: 150px 150px 150px 150px;
    -o-box-shadow: 2px 1px 12px #aaa;
    box-shadow: 2px 1px 12px #aaa;
    display: flex;
    justify-content: center;
    align-items: baseline;
}*/

.simon-board {
  position: relative;
  height: 375px;
  width: 55%;
  margin: 0 auto;
  display: block;
}

}

.blue .red .green .yellow .purple {
  height: 290px;
  border-radius: 150px 150px 150px 150px;
  position: absolute;
  text-indent: 10000px;
}

.simon {
  display: flex;
}

.simon button {
  background: none;
  border-radius: 4em;
  height: 106px;
  width: 119px;
  border-style: hidden;
  display: flex;
}

.red-circle {
  position: absolute;
  top: 15px;
  left: 345px;

}

.blue-circle {
  position: absolute;
  top: 125px;
  left: 200px;
}

.yellow-circle {
  position: absolute;
  top: 125px;
  left: 500px;
}

.green-circle {
  position: absolute;
  top: 270px;
  left: 270px;
}

.purple-circle {
  position: absolute;
  top: 270px;
  left: 425px;
}

.current-level {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 75px;
  left: 10px;
}

.win {
  color: #f95902;
  font-size: 65px;
  text-align: center;
}

.lose {
  color: #d8d852;
  font-size: 65px;
  text-align: center;
}

.user-turn {
  color: #9f7b17;
  font-size: 45px;
  text-align: center;
}

.brighten {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(211, 211, 211, 0.4)) !important;
  background-blend-mode: screen !important;
}
