.game-img {
  background-image: url("https://media.giphy.com/media/10Qc2DXgafdnsk/giphy.gif");
  background-position: top center;
  height: 100%;
  background-repeat: no-repeat;
}


.simon-atk h1 {
  margin: 0;
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;
  background-color: green;
  mix-blend-mode: multiply;
  background: radial-gradient(red, yellow, green, blue, purple);
  text-align: center;
}

.btn-display a {
  text-decoration: none;
  color: #dadada;
  font-size: 20px;
}

.game-btns {
  position: absolute;
  top: -7px;
  line-height: 4;
}

.start-btn, .reset-btn {
  border-radius: 50%;
  width: 97%;
  height: 3em;
}

.start-stop {
  position: absolute;
  top: 12em;
  left: 24em;
}

.nav-btn {
  width: 140px;
  height: 38px;
  text-align: center;
  font-size: medium;
}


.blue {
  color: blue;
  background: blue;
}

.red {
  color: red;
  background: red;
}

.green {
  color: green;
  background: green;
}

.yellow {
  color: gold;
  background: gold;
}

.purple {
  color: purple;
  background: purple;
}

.tiles {
  clip: rect(0px, 300px, 150px, 150px);
  margin: 4px;
  width: 84px;
  height: 84px;
  list-style: none;
  border-radius: 48px;
}

@media (min-width: 768px) {
    .simon-board {
      position: relative;
      left: 7em;
      height: 375px;
      width: 55%;
    }
    .game-img{
      background-size: 158%;
    }
}

@media (min-width: 1024px) {
    .simon-board {
      position: relative;
      left: 9em;
      height: 375px;
      width: 55%;
    }
    .game-img{
      background-size: 150%;
    }
}

@media (min-width: 1440px) {
    .simon-board {
      position: relative;
      left: 24em;
      height: 375px;
      width: 55%;
    }
    .game-img{
      background-size: 107%;
    }
}

.blue, .red, .green, .yellow, .purple {
  border-radius: 150px 150px 150px 150px;
}


.simon {
  display: flex;
}

.simon button {
  background: none;
  border-radius: 4em;
  height: 106px;
  width: 119px;
  border-style: hidden;
  display: flex;
}

.red-circle {
  position: absolute;
  top: 15px;
  left: 345px;

}

.blue-circle {
  position: absolute;
  top: 125px;
  left: 200px;
}

.yellow-circle {
  position: absolute;
  top: 125px;
  left: 500px;
}

.green-circle {
  position: absolute;
  top: 270px;
  left: 270px;
}

.purple-circle {
  position: absolute;
  top: 270px;
  left: 425px;
}

.current-level {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 75px;
  left: 10px;
}

.win {
  color: #f95902;
}

.lose {
  color: #d8d852;
}

.ready {
  color: #2c9c2f;
}

.fight {
  color: #ff0000;
}

.user-turn {
  color: #9f7b17;
}

.ai-turn {
  color: #9f7b17;
}

.incoming {
  color: #9f7b17;
}

h2 {
  text-align: center;
  margin: 5px;
}

.win .lose .ready .fight {
  font-size: 35px;

}

.user-turn .ai-turn .incoming {
  font-size: 25px;
}

.brighten {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(211, 211, 211, 0.4)) !important;
  background-blend-mode: screen !important;
}

.gameGif {
  height: 270px;
  width: 450px;
}

.gif-div {
  display: flex;
  justify-content: center;
}

span {
  font-size: 20px;
}
