h1 {
  text-align: center;
  font-size: 65px;
  font-family: fantasy;
  font-weight: bold;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.purple {
  color: purple;
}

@media (min-width: 768px) {
  .body-img {
    /*background: #0f0f0f url("https://media.giphy.com/media/thVVNTXoaPRRe/giphy.gif") space;*/
    background-image: url("../images/simon.jpg");
    height: 850px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }

  .simon-atk {
    background-image: url("https://media.giphy.com/media/MlqCajCg5xaeI/giphy.gif");
    text-align: center;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: black;
  }
}

@media (min-width: 1024px) {
  .body-img {
    /*background: #0f0f0f url("https://media.giphy.com/media/thVVNTXoaPRRe/giphy.gif") space;*/
    background-image: url("../images/simon.jpg");
    height: 850px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }

  .simon-atk {
    background-image: url("https://media.giphy.com/media/MlqCajCg5xaeI/giphy.gif");
    text-align: center;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: black;
  }
}

@media (min-width: 1440px) {
  .body-img {
    /*background: #0f0f0f url("https://media.giphy.com/media/thVVNTXoaPRRe/giphy.gif") space;*/
    background-image: url("../images/simon.jpg");
    height: 850px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }

  .simon-atk {
    background-image: url("https://media.giphy.com/media/MlqCajCg5xaeI/giphy.gif");
    text-align: center;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: black;
  }
}




.simon-atk-header {
  margin: 0;
  font-size: 5rem;
  text-transform: uppercase;
  mix-blend-mode: multiply;
  background: radial-gradient(red, yellow, green, blue, purple);
}

.btn-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  padding-top: 241px;
}

.btn-display a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}


.info-btn-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  height: 9em;
}

.info-btn-display a {
  width: 7em;
  font-size: 25px;
  margin: 20px;
}

.how-to {
  font-size: 30px;
  color: #ff0;
  font-family: Comic Sans MS;
  list-style: none;
}
 .game-img {
   background-image: url("https://media.giphy.com/media/10Qc2DXgafdnsk/giphy.gif");
   background-size: cover;
   background-position: center top;
   height: 100%;
   background-repeat: no-repeat;
 }

 .navi-btns {
   width: 195px;
   margin: 35px;
 }

 span {
   font-size: 40px;
 }

.info-btn {
  color: #fff;
  background-image: linear-gradient(to bottom,#3110E2 0,#3110E2 100%);
  background-repeat: repeat-x;
  border-color: #3110E2;
}
